

header{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    padding-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
  justify-content: space-between;
}

header img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

header button {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 30px;
    margin-right: 30px;
    color: black;
    background-color: #fbdc14;
}

section img{
    width: 1423px;
}

main {
    width: 1410px;
}

h1{
    text-align: center;
}

table{
    text-align: center;
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
    border: 5px solid #fff;
border-top: 5px solid #fff;
border-bottom: 3px solid #fff;
border-collapse: collapse; 
outline: 3px solid #fbdc14;
font-size: 15px;
background: #fff!important;
}

table th{
    font-weight: bold;
    padding: 7px;
    background: #ffd300;
    border: none;
    
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fbdc14;
}


table td{
    padding: 7px;
border: none;
border-top: 3px solid #fff;
border-bottom: 3px solid #fff;
font-size: 15px;
}
table tr:nth-child(even){
background: #f8f8f8!important;
}

.uslugi{
    width: 1410px;
    display: flex;
  justify-content: space-between;
}


.usluga{
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    text-align: center;
   
}

.usluga img {
    width: 250px;
    height: 150px;
}

footer{
    margin-top: 20px;
    border: 1px solid black;
}